# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# ML Artifacts
artifacts/

# Logs
*.log 

# ML Data
data/raw/
data/processed/

# MLflow
mlflow.db
mlruns/